body{
	padding: 54px 52px;
}





nav{
	
	display: inline-block;
	vertical-align: middle;

}

li{
	display: inline-block;
	margin-right: 80px;
	vertical-align: middle;
	
}




img{
	display: inline-block;
vertical-align: middle;
margin-right: 60px;

}


.kkk{
	display: inline-block;
	margin-top: 700px;
}

.kk1{
	display: inline-block;
}

.img6{
	margin-right: 15px;
	margin-left: 15px;
}




.myh5{
margin-right: 10px;
margin-top: 20px;
margin-left: 10px;
display: inline-block;

}

.mydiv1{
	margin-left: 80px;
	margin-right: 80px;
	margin-top: 30px;


}





.mydiv28{
	
	 background: #5012D5;
	 width: 50px;
	 height: 50px;
	 font-size: 24px;
line-height: 28px;

color: #84FF81;
padding: 10px;
margin-bottom: 10px;

}


.textdiv{
	width: 780px;
	display: inline-block;
vertical-align: top;
color: #4E6FAE;

 ;
}

.textdiv1{
	width: 780px;
	
color: #4E6FAE;
 
}

p{
	font-size: 16px;
	margin-bottom: 25px;
}



article{
	margin-bottom: 40px;
	margin-top: 30px;
}


.myh3{
	font-size: 24px;
line-height: 29px;

color: #8D81FF;
margin-bottom: 15px;
}

.myh4{
	margin-bottom: 10px;

font-size: 20px;
line-height: 24px;

color: #4E6FAE;

}

.myp{
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
line-height: 19px;
font-weight: 400;
color: #7E8898;
width: 335px;
height: 35px;
}

.image3{
	display: inline-block;
	vertical-align: middle;

}

.mydiv22{
	width: 500px;
height: 192px;

background: #E7E7E7;
display: inline-block;
vertical-align: middle;

}

.myh4{
	margin-bottom: 15px;
}



.myarticle{
	margin-right: 5px;
	display: inline-block;
}


.ddd{
	display: inline-block;
}


.myh5{
	font-size: 26px;
line-height: 31px;

color: #4E6FAE;

}




.myh8{
	display: inline-block;

	font-size: 26px;
line-height: 31px;

color: #4E6FAE;

}

.mysection5{
	position: absolute;
width: 1400px;
height: 600px;

background: #E7E7E7;
margin-top: 10px;
display: inline-block;
}


.myh0{
	font-weight: 700;
font-size: 36px;
line-height: 44px;


color: #4E6FAE;

}


.myh09{
	font-weight: 400;
font-size: 20px;
line-height: 24px;
vertical-align: middle;
display: inline-block;

}


.seconddiv{
	position: absolute;
width: 944px;
height: 549px;

background: url(1200x-1.jpg);
vertical-align: middle;
display: inline-block;
margin-left: 10px;
margin-top: 100px;
margin-bottom: 200px;
margin-right: 30px;

}


.mydic30{
	display: inline-block;
	margin-right: 20px;
	vertical-align: middle;
	margin-left: 60px;
	margin-top: 200px;
	margin-bottom: 100px;
}


.myarticle1{
	display: inline-block;
}



